@model IEnumerable<gestion_de_magasin.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="/Gerant/Stock/Create" class="btn btn-primary">Ajouter un Article</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fournisseur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fournisseur.FournisseurId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
